h3 {
    color: var(--primary);
    font-size: 40px;
    margin: 60px 0px 20px 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2.5px;
    text-shadow: 1px 1px 2px rgb(58, 93, 65);
    text-shadow: 3px 2px #84af77;
}

h4 {
    margin: 10px 0px 10px 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(41, 54, 47);
    letter-spacing: 2px;

}

h5{
    margin: 25px 30px 20px 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: rgb(4, 85, 16);
    padding-top: 30px;
    text-align:justify;
    letter-spacing:2px;
    text-shadow: 1px 1px 2px rgb(8, 101, 26);

}

.introduction a {
    background-color: var(--primary); /* Green */
    color: white;
    border: none;
    text-align: center;
    width: 50%;
    margin: 80px auto;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

