h3 {
    color: var(--primary);
    font-size: 27px;
    margin: 0px 0px 20px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}

h4 {
    margin: 0px 0px 10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(2, 58, 10);

}

.introduction a {
    background-color: var(--primary); /* Green */
    color: white;
    border: none;
    text-align: center;
    width: 50%;
    margin: 40px auto;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

