.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--primary);
    font-size: 70px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 25px;
}

.loginContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer img {
    width: 40px;
    cursor: pointer;
}

.accountPopup {
    background-color: rgb(230, 230, 230);
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountPopupClosed {
    display: none;
}

.accountPopup div {
    margin: 10px auto;
    cursor: pointer;
}

.accountPopup div h4 {
    margin: auto;
    font-size: 18px;
    color: var(--primary);
}

#logoutContainer {
    display: none;
}
