.navbar {
    width: 100%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: rgb(2, 68, 20);
    font-size: 78px;
    margin-right: 90px;
    margin-left: 70px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px #71b46e;
}

.navbar ul {
    list-style: none;
    font-size: 50px;
    margin-top: 30px;
}

.navbar ul li {
    display: inline-block;
    margin: 10px 58px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(3, 90, 10);
    text-transform: uppercase;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(33, 87, 46);
}

.loginContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer img {
    width: 40px;
    cursor: pointer;
    margin-top:40px;
}

.accountPopup {
    background-color: rgb(230, 230, 230);
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountPopupClosed {
    display: none;
}

.accountPopup div {
    margin: 10 auto;
    cursor: pointer;
}

.accountPopup div h4 {
    margin: auto;
    font-size: 10px;
    color: var(--primary);
}

#logoutContainer {
    display: none;
}
