h3 {
    color: var(--primary);
    font-size: 24px;
    margin: 50px 0px 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    margin: 20px 0px 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(47, 61, 43);
}

.introduction a {
    background-color: var(--primary); /* Green */
    color: white;
    border: none;
    text-align: center;
    width: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 29px -10px;
    margin: 70px auto;
    padding: 15px 32px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
    cursor: pointer;
    border-radius: 25px;
}

