:root {
    --primary: #026928;
    --light: #ffffff;
    --dark: #231F20;
}

* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: var(--light);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--primary);
    font-size: 40px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 22px;
}

h3 {
    color: var(--primary);
    font-size: 23px;
    margin: 0px 0px 30px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

h4 {
    margin: 0px 0px 30px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #272526;
}

.introduction a {
    background-color: var(--primary); /* Green */
    color: white;
    border: none;
    text-align: center;
    width: 50%;
    margin: 40px auto;
    padding: 15px 32px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

