:root {
    --primary: #026928;
    --light: #ffffff;
    --dark: #231F20;
}

* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: var(--light);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--primary);
    font-size: 40px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 22px;
}

.content h3 {
    color: var(--primary);
    margin: 15px auto;
    font-size: 22px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content textarea {
    font-size: 22px;
    width: 90%;
    margin: 15px auto;
    display: flex;
}

.content button {
    font-size: 22px;
    width: 90%;
    height: 30px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}
